_freeze/
chapters_ds/
chapter_groq/
backups_pg18/
00_administracion_curso.qmd
.ipynb_checkpoints/
__pycache__/
notebooks/
scripts/
chapters/borradores/
data_heavy/
sample_qmds/
carrera_sig/
.quarto/
.Rhistory
.Rproj.user/
*.bat
*.tex
*.log
borrar_cache_linux.txt
j_eval_j_plot_nuevabd_1.r

/.quarto/
